*{
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    /* background-color: rgb(143, 92, 226); */
}
body{
    width: 90%;
    height: 80vh;
    background-image: url(image/KrishnaJIjpg.jpg);
    /* background-image: url(image/Radha.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}


.container{
    overflow: hidden;
    position: fixed;
    width: 100vw;
    height: 70px;

    /* border: 2px solid black; */
    display: flex;
    /* flex-wrap: wrap; */

    justify-content: end;
    background-color: rgb(5, 5, 48);
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}


.container:hover{
    box-shadow: 0 0 10px 10px rgb(89, 235, 44),0 0 20px 20px rgb(23, 255, 255);
}

/* .p{
   margin-right: 790px;
   line-height: 65px;
    font-size: 25px;
    color: antiquewhite;
}

.p:hover{
    color: chartreuse;
    text-transform: uppercase;
} */


.box{
    color: antiquewhite;
    font-size: 20px;
    margin-top: 8px;
    margin-right: 24px;
    padding: 8px;
    margin-bottom: 20px;
    /* padding-bottom: 20px; */
}
 p.p::first-letter{
    font-size: 30px;
}
 
#box1::first-letter{

font-size: 27px;

}

#box2::first-letter{
    font-size: 27px;
}


#box3::first-letter{
    font-size: 27px;
}


#box4::first-letter{
    font-size: 27px;
}


.box:hover{
    background-color: rgb(87, 45, 107);
    /* text-transform: uppercase; */

    color:  chartreuse;
    cursor: pointer;

    /* font-size: 18px; */
    /* line-height: 10px; */
    /* margin: 16px 10px; */
    /* height: 19px; */
    /* margin-top: 6px; */
    border-radius: 60px;
    border-bottom-right-radius: 20px;
    
}


@media (max-width: 412px) {
  body{
    height: 918px;
  }
    .container{
        height: 9vh;
        /* flex-direction: column; */
    }
 
    .box{
        color: antiquewhite;
        font-size: 13px;
        margin-top: 19px;
        margin-right: 31px;
        padding: 5px;
     
        /* padding-bottom: 20px; */
    }
       
}
 